.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2rem;
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 2rem;
  background-clip: padding-box;
}
